@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DmSans";
    src: url("../public/fonts/DMSans-VariableFont.ttf");
}

@font-face {
    font-family: "RobotoMono";
    src: url("../public/fonts/RobotoMono-VariableFont.ttf");
}

@font-face {
    font-family: "Synonym";
    src: url("../public/fonts/Synonym-Variable.ttf");
}